flow.json
[{"id":"c491942f.991148","type":"tab","label":"work","disabled":false,"info":""},{"id":"3e5b4f54.a1f41","type":"tab","label":"front_registration / trade","disabled":false,"info":""},{"id":"24bd370d.452538","type":"tab","label":"front_registration / log","disabled":false,"info":""},{"id":"4558a8a.4c47d58","type":"subflow","name":"registration logic","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"b8692f48.70322"}]}],"out":[{"x":1500,"y":100,"wires":[{"id":"db17b93e.3f1078","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"bbdcda13.b16788","type":"subflow","name":"add to json file","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"5d54c2d6.408a0c"}]}],"out":[{"x":1440,"y":100,"wires":[{"id":"b7b4c711.cd0e48","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f286d4cd.7f3108","type":"subflow","name":"load to json file","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"2cf20b11.c817e4"}]}],"out":[{"x":1260,"y":100,"wires":[{"id":"43f95c3d.6e5414","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b7cd658b.b2bda8","type":"subflow","name":"scrape off json file as del_flag","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"1b68072d.a1ba99"}]}],"out":[{"x":1500,"y":100,"wires":[{"id":"c0caf764.19caa8","port":0}]},{"x":900,"y":280,"wires":[{"id":"db27d15b.dda8d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ef110b16.502e58","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7f0004.a215a","type":"ui_tab","z":"","name":"REGISTRATION","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"522a4993.bc5d48","type":"ui_group","z":"","name":"TRADE","tab":"a7f0004.a215a","order":1,"disp":true,"width":"6","collapse":false},{"id":"901112b0.08a82","type":"ui_group","z":"","name":"LOG","tab":"a7f0004.a215a","order":2,"disp":true,"width":"12","collapse":true},{"id":"be922c50.94164","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":1,"width":"2","height":"1","name":"market label","label":"Market","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":100,"wires":[]},{"id":"6e5d10f6.7eb8d","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":3,"width":"2","height":"1","name":" ticker label","label":"Ticker","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":160,"wires":[]},{"id":"a698d333.f8ec4","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":5,"width":"2","height":"1","name":"name label","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":220,"wires":[]},{"id":"5aa1e880.dc0b68","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":7,"width":"2","height":"1","name":"price label","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":280,"wires":[]},{"id":"26c4a744.0c5398","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":9,"width":"2","height":"1","name":"share label","label":"Share","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":340,"wires":[]},{"id":"c4a665b0.211d98","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":11,"width":"2","height":"1","name":"delivery date label","label":"Delivery date","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":400,"wires":[]},{"id":"884060f4.90905","type":"ui_text","z":"3e5b4f54.a1f41","group":"522a4993.bc5d48","order":13,"width":"3","height":"1","name":"buy/sell label","label":"Buy/Sell","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":460,"wires":[]},{"id":"8c3796f9.06b4d8","type":"ui_dropdown","z":"3e5b4f54.a1f41","name":"market val","label":"","tooltip":"","place":"Select option","group":"522a4993.bc5d48","order":2,"width":"4","height":"1","passthru":false,"options":[{"label":"NYSE: New York Stock Exchange","value":"NYSE","type":"str"},{"label":"NASDAQ: National Association of Securities Dealers Automated Quotations","value":"NASDAQ","type":"str"},{"label":"LSE: London Stock Exchange","value":"LSE","type":"str"},{"label":"TSE: Tokyo Stock Exchange","value":"TSE","type":"str"}],"payload":"","topic":"market","x":590,"y":100,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"dcbe8519.69a1e8","type":"ui_text_input","z":"3e5b4f54.a1f41","name":"ticker val","label":"ticker","tooltip":"","group":"522a4993.bc5d48","order":4,"width":"4","height":"1","passthru":false,"mode":"text","delay":"300","topic":"ticker","x":580,"y":160,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"2ae3576d.d7cad8","type":"ui_text_input","z":"3e5b4f54.a1f41","name":"name val","label":"name","tooltip":"","group":"522a4993.bc5d48","order":6,"width":"4","height":"1","passthru":false,"mode":"text","delay":"300","topic":"name","x":580,"y":220,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"c7e93900.864c78","type":"ui_text_input","z":"3e5b4f54.a1f41","name":"price val","label":"price","tooltip":"","group":"522a4993.bc5d48","order":8,"width":"4","height":"1","passthru":false,"mode":"number","delay":"300","topic":"price","x":580,"y":280,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"b4af134c.dc561","type":"ui_text_input","z":"3e5b4f54.a1f41","name":"share val","label":"share","tooltip":"","group":"522a4993.bc5d48","order":10,"width":"4","height":"1","passthru":false,"mode":"number","delay":"300","topic":"share","x":580,"y":340,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"10335b5d.db3055","type":"ui_date_picker","z":"3e5b4f54.a1f41","name":"delivery date val","label":"","group":"522a4993.bc5d48","order":12,"width":"4","height":"1","passthru":false,"topic":"delivery_date","x":600,"y":400,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"9a680981.2a7cf8","type":"ui_button","z":"3e5b4f54.a1f41","name":"regist btn","group":"522a4993.bc5d48","order":16,"width":"0","height":"0","passthru":false,"label":"Regist","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"regist","x":580,"y":560,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"42369d9c.1c1af4","type":"ui_button","z":"3e5b4f54.a1f41","name":"cancel btn","group":"522a4993.bc5d48","order":17,"width":"0","height":"0","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"cancel","x":590,"y":620,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"c1344d2d.9c99","type":"comment","z":"3e5b4f54.a1f41","name":"labels","info":"","x":70,"y":40,"wires":[]},{"id":"4f723b30.889b34","type":"comment","z":"3e5b4f54.a1f41","name":"values","info":"","x":570,"y":40,"wires":[]},{"id":"d82eefea.3c388","type":"comment","z":"3e5b4f54.a1f41","name":"data control","info":"","x":830,"y":40,"wires":[]},{"id":"d5adfef8.b311e","type":"comment","z":"3e5b4f54.a1f41","name":"branch by operation","info":"","x":1090,"y":40,"wires":[]},{"id":"b0dcc514.a598e8","type":"comment","z":"3e5b4f54.a1f41","name":"data save","info":"","x":1300,"y":40,"wires":[]},{"id":"b8692f48.70322","type":"switch","z":"4558a8a.4c47d58","name":"topic switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"regist","vt":"str"},{"t":"eq","v":"cancel","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":210,"y":160,"wires":[["2f6a6487.a4027c"],["57d46a0f.e6a7f4"],["9094f854.8779d8"]]},{"id":"9094f854.8779d8","type":"switch","z":"4558a8a.4c47d58","name":"key switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"market","vt":"str"},{"t":"eq","v":"ticker","vt":"str"},{"t":"eq","v":"name","vt":"str"},{"t":"eq","v":"price","vt":"str"},{"t":"eq","v":"share","vt":"str"},{"t":"eq","v":"delivery_date","vt":"str"},{"t":"eq","v":"buysell","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":8,"x":210,"y":260,"wires":[["c4075e26.00f2a"],["456810f4.30ce7"],["9ac93637.b1a748"],["e1b0407c.40625"],["eb0c8121.00895"],["d93019a7.408b18"],["38733e15.670c32"],["37fadd51.512b62"]]},{"id":"c4075e26.00f2a","type":"change","z":"4558a8a.4c47d58","name":"set market","rules":[{"t":"set","p":"market","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["2f6a6487.a4027c"]]},{"id":"456810f4.30ce7","type":"change","z":"4558a8a.4c47d58","name":"set ticker","rules":[{"t":"set","p":"ticker","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["2f6a6487.a4027c"]]},{"id":"9ac93637.b1a748","type":"change","z":"4558a8a.4c47d58","name":"set name","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["2f6a6487.a4027c"]]},{"id":"e1b0407c.40625","type":"change","z":"4558a8a.4c47d58","name":"set price","rules":[{"t":"set","p":"price","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["2f6a6487.a4027c"]]},{"id":"eb0c8121.00895","type":"change","z":"4558a8a.4c47d58","name":"set share","rules":[{"t":"set","p":"share","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":520,"wires":[["2f6a6487.a4027c"]]},{"id":"d93019a7.408b18","type":"change","z":"4558a8a.4c47d58","name":"set deliverydate","rules":[{"t":"set","p":"delivery_date","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["2f6a6487.a4027c"]]},{"id":"38733e15.670c32","type":"change","z":"4558a8a.4c47d58","name":"set buysell","rules":[{"t":"set","p":"buysell","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":680,"wires":[["2f6a6487.a4027c"]]},{"id":"640a63af.a61c1c","type":"comment","z":"4558a8a.4c47d58","name":"branch by operation","info":"","x":230,"y":40,"wires":[]},{"id":"a57da134.300f9","type":"comment","z":"4558a8a.4c47d58","name":"set data","info":"","x":410,"y":40,"wires":[]},{"id":"57d46a0f.e6a7f4","type":"change","z":"4558a8a.4c47d58","name":"data clear","rules":[{"t":"delete","p":"market","pt":"flow"},{"t":"delete","p":"ticker","pt":"flow"},{"t":"delete","p":"name","pt":"flow"},{"t":"delete","p":"price","pt":"flow"},{"t":"delete","p":"share","pt":"flow"},{"t":"delete","p":"delivery_date","pt":"flow"},{"t":"delete","p":"buysell","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["2f6a6487.a4027c"]]},{"id":"fe96b61d.d8a568","type":"comment","z":"4558a8a.4c47d58","name":"check state","info":"","x":890,"y":40,"wires":[]},{"id":"26c99e8c.4ea9a2","type":"comment","z":"4558a8a.4c47d58","name":"bussiness data copy to msg","info":"","x":1320,"y":40,"wires":[]},{"id":"db17b93e.3f1078","type":"function","z":"4558a8a.4c47d58","name":"load values to payload","func":"msg.payload = {\n    market: flow.get('market'),\n    ticker: flow.get('ticker'),\n    name: flow.get('name'),\n    price: flow.get('price'),\n    share: flow.get('share'),\n    delivery_date: flow.get('delivery_date'),\n    buysell: flow.get('buysell')\n}\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":160,"wires":[[]]},{"id":"2d7a54d9.5ef5dc","type":"subflow:4558a8a.4c47d58","z":"3e5b4f54.a1f41","name":"","x":840,"y":100,"wires":[["c2ae0f0d.6e212","e02ab008.e5c99","24300d65.f45a82"]]},{"id":"37fadd51.512b62","type":"function","z":"4558a8a.4c47d58","name":"unknown key","func":"node.warn(\"[function:\" + node.id + \"] UnknownKeyError: unknown key received.\")\n","outputs":0,"noerr":0,"x":430,"y":740,"wires":[]},{"id":"84f35fcf.cb0c1","type":"change","z":"3e5b4f54.a1f41","name":"set msg.enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"required","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":560,"wires":[["9a680981.2a7cf8"]]},{"id":"2f6a6487.a4027c","type":"change","z":"4558a8a.4c47d58","name":"clear msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["410b438f.71288c"]]},{"id":"410b438f.71288c","type":"switch","z":"4558a8a.4c47d58","name":"check market is not empty","property":"market","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":280,"wires":[["7bef242a.58d92c"],["982c79b.d5ac288"]]},{"id":"7bef242a.58d92c","type":"switch","z":"4558a8a.4c47d58","name":"check ticker is not empty","property":"ticker","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":340,"wires":[["88291166.12ae4"],["982c79b.d5ac288"]]},{"id":"88291166.12ae4","type":"switch","z":"4558a8a.4c47d58","name":"check name is not empty","property":"name","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":400,"wires":[["cd84c27c.b7992"],["982c79b.d5ac288"]]},{"id":"cd84c27c.b7992","type":"switch","z":"4558a8a.4c47d58","name":"check price is 0 and more","property":"price","propertyType":"flow","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":460,"wires":[["a308f3cd.a6fb7"],["982c79b.d5ac288"]]},{"id":"a308f3cd.a6fb7","type":"switch","z":"4558a8a.4c47d58","name":"check share is more than 0","property":"share","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":940,"y":520,"wires":[["64df3741.223dc8"],["982c79b.d5ac288"]]},{"id":"bc0363a5.62c79","type":"switch","z":"4558a8a.4c47d58","name":"check deliverydate is not null","property":"delivery_date","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":940,"y":620,"wires":[["3287245b.e6f00c"],["982c79b.d5ac288"]]},{"id":"3287245b.e6f00c","type":"switch","z":"4558a8a.4c47d58","name":"check buysell is not empty","property":"buysell","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":680,"wires":[["f66a16f1.e5c268"],["982c79b.d5ac288"]]},{"id":"f66a16f1.e5c268","type":"change","z":"4558a8a.4c47d58","name":"check required items / true","rules":[{"t":"set","p":"required","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":160,"wires":[["db17b93e.3f1078"]]},{"id":"982c79b.d5ac288","type":"change","z":"4558a8a.4c47d58","name":"check required items / false","rules":[{"t":"set","p":"required","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":220,"wires":[["db17b93e.3f1078"]]},{"id":"64df3741.223dc8","type":"function","z":"4558a8a.4c47d58","name":"check share is integer","func":"if(Number.isInteger(flow.get('share'))){\n    return [msg, null];\n}else{\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":940,"y":560,"wires":[["bc0363a5.62c79"],["982c79b.d5ac288"]]},{"id":"fd656fa5.c649b","type":"comment","z":"3e5b4f54.a1f41","name":"DOM control","info":"","x":330,"y":40,"wires":[]},{"id":"fb92c91d.2d4848","type":"change","z":"3e5b4f54.a1f41","name":"clear values","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["8c3796f9.06b4d8","dcbe8519.69a1e8","2ae3576d.d7cad8","c7e93900.864c78","b4af134c.dc561","10335b5d.db3055","ab568269.8bd66"]]},{"id":"1b0470ef.cf685f","type":"change","z":"3e5b4f54.a1f41","name":"set disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["9a680981.2a7cf8"]]},{"id":"c2ae0f0d.6e212","type":"switch","z":"3e5b4f54.a1f41","name":"operation switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"regist","vt":"str"},{"t":"eq","v":"cancel","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1080,"y":100,"wires":[["604ed41b.92e22c"],["e7b13b98.cefef8"],["cb01387a.c21698"]]},{"id":"6275e299.c3e5ec","type":"link in","z":"3e5b4f54.a1f41","name":"to initialize values","links":["a4119f22.4b86c","e7b13b98.cefef8","ba3e03f7.f0bbd"],"x":275,"y":300,"wires":[["fb92c91d.2d4848","1b0470ef.cf685f"]]},{"id":"7d7bdaf3.d1b914","type":"link in","z":"3e5b4f54.a1f41","name":"to toggle regist btn","links":["cb01387a.c21698"],"x":275,"y":520,"wires":[["84f35fcf.cb0c1"]]},{"id":"e7b13b98.cefef8","type":"link out","z":"3e5b4f54.a1f41","name":"","links":["6275e299.c3e5ec"],"x":1235,"y":220,"wires":[]},{"id":"cb01387a.c21698","type":"link out","z":"3e5b4f54.a1f41","name":"","links":["7d7bdaf3.d1b914"],"x":1235,"y":280,"wires":[]},{"id":"604ed41b.92e22c","type":"change","z":"3e5b4f54.a1f41","name":"add system props","rules":[{"t":"set","p":"payload.regist_date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.akakuro","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.del_flag","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"filename","pt":"msg","to":"trade.json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":100,"wires":[["b12d007c.dc8c"]]},{"id":"a03a213d.71acf","type":"file","z":"bbdcda13.b16788","name":"save json file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":970,"y":220,"wires":[["b7b4c711.cd0e48"]]},{"id":"cef61144.28e8c","type":"catch","z":"bbdcda13.b16788","name":"","scope":["575af1c.5b57d1"],"uncaught":false,"x":430,"y":280,"wires":[["cf62477e.e65198"]]},{"id":"9aec5dc3.78c9f","type":"change","z":"bbdcda13.b16788","name":"copy to msg.add","rules":[{"t":"set","p":"add","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["575af1c.5b57d1"]]},{"id":"575af1c.5b57d1","type":"file in","z":"bbdcda13.b16788","name":"load json file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":450,"y":220,"wires":[["c717b09d.e21fa"]]},{"id":"cf62477e.e65198","type":"function","z":"bbdcda13.b16788","name":"make msg.payload[0]","func":"var payload = msg.add;\nmsg.payload = new Array(1);\nmsg.payload[0] = payload;\n\nreturn msg;    \n","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["a03a213d.71acf"]]},{"id":"c717b09d.e21fa","type":"function","z":"bbdcda13.b16788","name":"add to file data","func":"var payload = JSON.parse(msg.payload);\n\npayload.push(msg.add);\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["a03a213d.71acf"]]},{"id":"5d54c2d6.408a0c","type":"switch","z":"bbdcda13.b16788","name":"check filename","property":"filename","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":160,"wires":[["9aec5dc3.78c9f"],["729070ce.133e5"]]},{"id":"729070ce.133e5","type":"function","z":"bbdcda13.b16788","name":"nothing filename","func":"node.warn(\"[function:\" + node.id + \"] NoFilenameError: filename is nothing.\");\n","outputs":0,"noerr":0,"x":220,"y":220,"wires":[]},{"id":"b7b4c711.cd0e48","type":"change","z":"bbdcda13.b16788","name":"remove temp prop/data","rules":[{"t":"set","p":"payload","pt":"msg","to":"add","tot":"msg"},{"t":"delete","p":"add","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":220,"wires":[[]]},{"id":"3d37bb3b.b09564","type":"comment","z":"bbdcda13.b16788","name":"check input data","info":"","x":220,"y":40,"wires":[]},{"id":"53c7b53d.8d799c","type":"comment","z":"bbdcda13.b16788","name":"load data","info":"","x":440,"y":40,"wires":[]},{"id":"c92b934f.ee28b","type":"comment","z":"bbdcda13.b16788","name":"save data","info":"","x":960,"y":40,"wires":[]},{"id":"a16f1c2.aedace","type":"comment","z":"bbdcda13.b16788","name":"add data","info":"","x":680,"y":40,"wires":[]},{"id":"8f20c9f4.952108","type":"comment","z":"bbdcda13.b16788","name":"remove temp data","info":"","x":1210,"y":40,"wires":[]},{"id":"b12d007c.dc8c","type":"subflow:bbdcda13.b16788","z":"3e5b4f54.a1f41","name":"","env":[],"x":1310,"y":160,"wires":[["ba3e03f7.f0bbd","8abe29be.7b0868","d135592d.6e9928"]]},{"id":"ba3e03f7.f0bbd","type":"link out","z":"3e5b4f54.a1f41","name":"","links":["6275e299.c3e5ec"],"x":1415,"y":160,"wires":[]},{"id":"a5d0b0f2.aea2e","type":"inject","z":"c491942f.991148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["ca3ba4df.16b028"]]},{"id":"9b3364.7533aca","type":"debug","z":"c491942f.991148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":40,"wires":[]},{"id":"ca3ba4df.16b028","type":"file","z":"c491942f.991148","name":"","filename":"trade.json","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"utf8","x":350,"y":40,"wires":[["9b3364.7533aca"]]},{"id":"4aa62300.c2fd8c","type":"inject","z":"c491942f.991148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["5190e449.ff645c"]]},{"id":"3f9e877e.c6e368","type":"debug","z":"c491942f.991148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":100,"wires":[]},{"id":"5190e449.ff645c","type":"file in","z":"c491942f.991148","name":"lead trade.json","filename":"trade.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":100,"wires":[["3f9e877e.c6e368"]]},{"id":"4722ef21.30494","type":"ui_toast","z":"3e5b4f54.a1f41","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1670,"y":500,"wires":[]},{"id":"ae331800.44acc8","type":"switch","z":"3e5b4f54.a1f41","name":"check price is 0 and more","property":"payload.price","propertyType":"msg","rules":[{"t":"empty"},{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1130,"y":500,"wires":[[],[],["8a46d134.8229a"]]},{"id":"c4dea85b.d96998","type":"switch","z":"3e5b4f54.a1f41","name":"check share is more than 0","property":"payload.share","propertyType":"msg","rules":[{"t":"empty"},{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1140,"y":560,"wires":[[],["684acd9.cbc7c34"],["97d99fd0.d8265"]]},{"id":"684acd9.cbc7c34","type":"function","z":"3e5b4f54.a1f41","name":"check share is integer","func":"if(Number.isInteger(msg.payload.share)){\n    return [msg, null];\n}else{\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":1140,"y":620,"wires":[[],["97d99fd0.d8265"]]},{"id":"8a46d134.8229a","type":"function","z":"3e5b4f54.a1f41","name":"build message","func":"msg.payload = \"Invalid price value.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1420,"y":500,"wires":[["4722ef21.30494"]]},{"id":"97d99fd0.d8265","type":"function","z":"3e5b4f54.a1f41","name":"build message","func":"msg.payload = \"Invalid share value\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1420,"y":600,"wires":[["4722ef21.30494"]]},{"id":"c6bca520.a109f8","type":"comment","z":"3e5b4f54.a1f41","name":"check invalid value","info":"","x":1090,"y":380,"wires":[]},{"id":"e02ab008.e5c99","type":"switch","z":"3e5b4f54.a1f41","name":"switch proce/share topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"price","vt":"str"},{"t":"eq","v":"share","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1110,"y":440,"wires":[["ae331800.44acc8"],["c4dea85b.d96998"]]},{"id":"ab568269.8bd66","type":"ui_dropdown","z":"3e5b4f54.a1f41","name":"buysell val","label":"","tooltip":"","place":"Select option","group":"522a4993.bc5d48","order":14,"width":"3","height":"1","passthru":false,"options":[{"label":"BUY","value":"BUY","type":"str"},{"label":"SELL","value":"SELL","type":"str"}],"payload":"","topic":"buysell","x":590,"y":460,"wires":[["2d7a54d9.5ef5dc"]]},{"id":"24300d65.f45a82","type":"debug","z":"3e5b4f54.a1f41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":200,"wires":[]},{"id":"8a0072ef.79045","type":"catch","z":"f286d4cd.7f3108","name":"","scope":["964f284b.28d008"],"uncaught":false,"x":430,"y":280,"wires":[["544d6ff6.d0eba"]]},{"id":"39108cbc.264164","type":"change","z":"f286d4cd.7f3108","name":"clear to msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["964f284b.28d008"]]},{"id":"964f284b.28d008","type":"file in","z":"f286d4cd.7f3108","name":"load json file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":450,"y":220,"wires":[["f0c5b265.9e63e"]]},{"id":"544d6ff6.d0eba","type":"function","z":"f286d4cd.7f3108","name":"make msg.payload[0]","func":"msg.payload = new Array(1);\nmsg.payload[0] = {};\n\nreturn msg;    \n","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["43f95c3d.6e5414"]]},{"id":"f0c5b265.9e63e","type":"function","z":"f286d4cd.7f3108","name":"set to msg.payload","func":"var payload = JSON.parse(msg.payload);\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":220,"wires":[["43f95c3d.6e5414"]]},{"id":"2cf20b11.c817e4","type":"switch","z":"f286d4cd.7f3108","name":"check filename","property":"filename","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":160,"wires":[["39108cbc.264164"],["71525f5b.59be1"]]},{"id":"71525f5b.59be1","type":"function","z":"f286d4cd.7f3108","name":"nothing filename","func":"node.warn(\"[function:\" + node.id + \"] NoFilenameError: filename is nothing.\");\n","outputs":0,"noerr":0,"x":220,"y":220,"wires":[]},{"id":"43f95c3d.6e5414","type":"change","z":"f286d4cd.7f3108","name":"remove temp prop/data","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":220,"wires":[[]]},{"id":"c36797e3.d5b3e8","type":"comment","z":"f286d4cd.7f3108","name":"check input data","info":"","x":220,"y":40,"wires":[]},{"id":"852bba0b.e53798","type":"comment","z":"f286d4cd.7f3108","name":"load data","info":"","x":440,"y":40,"wires":[]},{"id":"e584f267.fe35e","type":"comment","z":"f286d4cd.7f3108","name":"set to payload","info":"","x":730,"y":40,"wires":[]},{"id":"fb44e29b.42262","type":"comment","z":"f286d4cd.7f3108","name":"remove temp data","info":"","x":1030,"y":40,"wires":[]},{"id":"ca7f5ecf.7beca","type":"subflow:f286d4cd.7f3108","z":"24bd370d.452538","name":"","env":[],"x":660,"y":140,"wires":[["26c03100.9f7d6"]]},{"id":"358316b3.bbf30a","type":"inject","z":"24bd370d.452538","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":200,"wires":[["9636ae57.1652e"]]},{"id":"9636ae57.1652e","type":"change","z":"24bd370d.452538","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"trade.json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["ca7f5ecf.7beca"]]},{"id":"b1732ecc.68c83","type":"ui_template","z":"24bd370d.452538","group":"901112b0.08a82","name":"","order":2,"width":"12","height":"6","format":"<table id=\"table\" border=\"1\">\n <tr>\n  <th>ID</th>\n  <th>Market</th>\n  <th>Ticker</th>\n  <th>Name</th>\n  <th>Price</th>\n  <th>Share</th>\n  <th>Buy/Sell</th>\n  <th>Delivery</th>\n  <th>Info</th>\n  <th>OP</th>\n </tr>\n<tbody>\n <tr ng-repeat=\"row in msg.payload\" ng-if=\"row.del_flag === false\">\n <td>{{$index+1}}</td>\n <td>{{row.market}}</td>\n <td>{{row.ticker}}</td>\n <td>{{row.name}}</td>\n <td>{{row.price | number}}</td>\n <td>{{row.share | number}}</td>\n <td>{{row.buysell}}</td>\n <td>{{row.delivery_date | date: 'yyyy/MM/dd'}}</td>\n <td>\n     <div class=\"info-area\">\n         <div class=\"info\"><i class=\"fa fa-info-circle\" aria-hidden=\"true\"></i></div>\n         <div class=\"remark\">\n             regist date: {{row.regist_date | date:'yyyy/MM/dd'}},\n             akakuro: {{row.akakuro}},\n             del_flag: {{row.del_flag}}\n         </div>\n     </div>\n </td>\n <td>\n     <md-button tr ng-click=\"send({\n     topic:'del_trade',\n     payload:{row}\n     })\">Del</md-button>\n </td>\n </tr>\n</tbody>\n</table>\n\n\n<style type=\"text/css\">\n    .info-area {\n      padding: 0;\n      margin: 0;\n      position: relative;\n    }\n    .info {\n      position: relative;\n    }\n    .remark {\n      display: none;\n      position: absolute;\n      bottom: 30px;\n      left: -460px;\n      width: 490px;\n      padding: 5px;\n      border-radius: 5px;\n      background: #33cc99;\n      color: #fff;\n    }\n    .remark:after {\n      position: absolute;\n      width: 0;\n      height: 0;\n      right: 25px;\n      bottom: -20px;\n      border: solid transparent;\n      border-width: 10px;\n      border-top-color: #33cc99;\n      pointer-events: none;\n      content: \" \";\n    }\n    .info:hover + .remark {\n      display: block;\n    }\n</style>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":120,"y":400,"wires":[["4293ccdf.900ab4"]]},{"id":"4e4d31ac.eae58","type":"change","z":"24bd370d.452538","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"trade.json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":460,"wires":[["cb16247a.8b3698"]]},{"id":"e27e87cf.ea4e58","type":"catch","z":"b7cd658b.b2bda8","name":"","scope":["1995ad05.ad9423"],"uncaught":false,"x":430,"y":280,"wires":[["db27d15b.dda8d"]]},{"id":"db27d15b.dda8d","type":"function","z":"b7cd658b.b2bda8","name":"out put error msg","func":"node.warn(\"[function:\" + node.id + \"] FileNotExistError: \" + msg.filename + \" is nothing.\");\nmsg.topic = \"file_not_exist\";\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":280,"wires":[[]]},{"id":"c0caf764.19caa8","type":"change","z":"b7cd658b.b2bda8","name":"remove temp prop/data","rules":[{"t":"delete","p":"del","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":160,"wires":[[]]},{"id":"3ce6697e.016016","type":"comment","z":"b7cd658b.b2bda8","name":"check input data","info":"","x":220,"y":40,"wires":[]},{"id":"5696c556.1db3dc","type":"comment","z":"b7cd658b.b2bda8","name":"load data","info":"","x":440,"y":40,"wires":[]},{"id":"22b06d1.b514992","type":"comment","z":"b7cd658b.b2bda8","name":"save data","info":"","x":1020,"y":40,"wires":[]},{"id":"e0258569.50b3d8","type":"comment","z":"b7cd658b.b2bda8","name":"scrape off data as del_flag","info":"","x":730,"y":40,"wires":[]},{"id":"9ad250f2.1e729","type":"comment","z":"b7cd658b.b2bda8","name":"remove temp data","info":"","x":1270,"y":40,"wires":[]},{"id":"361369ca.6c9e46","type":"debug","z":"24bd370d.452538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":400,"wires":[]},{"id":"535e28c3.33d3a8","type":"change","z":"24bd370d.452538","name":"pick up jsondata props","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload.row","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.market","pt":"msg","to":"temp.market","tot":"msg"},{"t":"set","p":"payload.ticker","pt":"msg","to":"temp.ticker","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"temp.name","tot":"msg"},{"t":"set","p":"payload.price","pt":"msg","to":"temp.price","tot":"msg"},{"t":"set","p":"payload.share","pt":"msg","to":"temp.share","tot":"msg"},{"t":"set","p":"payload.delivery_date","pt":"msg","to":"temp.delivery_date","tot":"msg"},{"t":"set","p":"payload.buysell","pt":"msg","to":"temp.buysell","tot":"msg"},{"t":"set","p":"payload.regist_date","pt":"msg","to":"temp.regist_date","tot":"msg"},{"t":"set","p":"payload.akakuro","pt":"msg","to":"temp.akakuro","tot":"msg"},{"t":"set","p":"payload.del_flag","pt":"msg","to":"temp.del_flag","tot":"msg"},{"t":"delete","p":"temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":400,"wires":[["4e4d31ac.eae58"]]},{"id":"6d9b1e3b.bc18e","type":"change","z":"b7cd658b.b2bda8","name":"copy to msg.del","rules":[{"t":"set","p":"del","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["1995ad05.ad9423"]]},{"id":"1995ad05.ad9423","type":"file in","z":"b7cd658b.b2bda8","name":"load json fileq","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":460,"y":220,"wires":[["94a37dc1.c7467"]]},{"id":"94a37dc1.c7467","type":"function","z":"b7cd658b.b2bda8","name":"scrape off file data as del_flag","func":"var payloads = JSON.parse(msg.payload);\nlet num_of_keys = Object.keys(msg.del).length;\n\nfor(let [i, payload] of payloads.entries()) {\n  \n  if(Object.keys(payload).length == num_of_keys &&\n    jsoncomp(payload, msg.del)){\n    payloads[i].del_flag = true;\n  }\n\n}\n\nmsg.payload = payloads;\nreturn msg\n\n\n// - - - functions - - -\n\nfunction jsonsort(tmp_json){\n    var sorted_json = {};\n    var keys = Object.keys(tmp_json).sort();\n    keys.forEach(function(key){\n        sorted_json[key] = tmp_json[key];\n    });\n    return sorted_json;\n}\n\nfunction jsoncomp(json1, json2){\n    var str_json1 = JSON.stringify(jsonsort(json1));\n    var str_json2 = JSON.stringify(jsonsort(json2));\n    return str_json1 === str_json2;\n}","outputs":1,"noerr":0,"x":750,"y":160,"wires":[["e13c5ca8.3b206"]]},{"id":"1b68072d.a1ba99","type":"switch","z":"b7cd658b.b2bda8","name":"check filename","property":"filename","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":160,"wires":[["6d9b1e3b.bc18e"],["7a731beb.f5daa4"]]},{"id":"7a731beb.f5daa4","type":"function","z":"b7cd658b.b2bda8","name":"nothing filename","func":"node.warn(\"[function:\" + node.id + \"] NoFilenameError: filename is nothing.\");\n","outputs":0,"noerr":0,"x":220,"y":220,"wires":[]},{"id":"e13c5ca8.3b206","type":"file","z":"b7cd658b.b2bda8","name":"save json file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1030,"y":160,"wires":[["c0caf764.19caa8"]]},{"id":"cb16247a.8b3698","type":"subflow:b7cd658b.b2bda8","z":"24bd370d.452538","name":"","env":[],"x":940,"y":400,"wires":[["361369ca.6c9e46","7fdfef6f.98364"],[]]},{"id":"8abe29be.7b0868","type":"ui_toast","z":"3e5b4f54.a1f41","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"registered.","name":"","x":1670,"y":220,"wires":[]},{"id":"50cdd1e8.37438","type":"link in","z":"24bd370d.452538","name":"visualize to log board","links":["26c03100.9f7d6"],"x":55,"y":360,"wires":[["b1732ecc.68c83"]]},{"id":"26c03100.9f7d6","type":"link out","z":"24bd370d.452538","name":"","links":["50cdd1e8.37438"],"x":775,"y":140,"wires":[]},{"id":"b829d38c.ec12e","type":"comment","z":"24bd370d.452538","name":"load trade log","info":"","x":110,"y":40,"wires":[]},{"id":"9089d36e.affb5","type":"comment","z":"24bd370d.452538","name":"operation from trade log board","info":"","x":160,"y":300,"wires":[]},{"id":"4293ccdf.900ab4","type":"switch","z":"24bd370d.452538","name":"branch by operation","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"del_trade","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":360,"y":400,"wires":[["535e28c3.33d3a8"]]},{"id":"33ca5c.f6fdb5a4","type":"link in","z":"24bd370d.452538","name":"reload trade log board","links":["d135592d.6e9928","7fdfef6f.98364"],"x":215,"y":100,"wires":[["8c9c9a1e.18b718"]]},{"id":"8c9c9a1e.18b718","type":"change","z":"24bd370d.452538","name":"clear msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":140,"wires":[["9636ae57.1652e"]]},{"id":"d135592d.6e9928","type":"link out","z":"3e5b4f54.a1f41","name":"","links":["33ca5c.f6fdb5a4"],"x":1595,"y":280,"wires":[]},{"id":"7fdfef6f.98364","type":"link out","z":"24bd370d.452538","name":"","links":["33ca5c.f6fdb5a4"],"x":1155,"y":460,"wires":[]}]